/* ======== google fonts ======== */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* ======= base style ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

/* ========= pre-define css ========= */
:root {
  --color-bg: #1F2720;
  --color-bg-variant:#f6f2ec;
  --color-primary: #efbc59;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255,255, 255, 0.6);
  --color-black: #223742;
  --color-hbg: rgb(55, 74, 107);

  --transition: all 400ms ease; 

  --container-width-lg: 75%;
  --conttainer-width-md:86%;
  --cintainer-width-sm:90%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var( --color-bg-variant);
  font-weight: 600;
  margin-bottom: 0;
}

h3,
h4 {
  font-size: 1.6rem;
}

h5,
h6 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  list-style: none;
}

.section__title {
  color: gold;
  font-weight: 600;
  font-size: 2rem;
}

.section__subtitle {
  color: #f9a826;
  font-weight: 600;
  font-size: 1.2rem;
}

.section__description {
  color:var(--color-white) ;
  font-size: 0.9rem;
  line-height: 30px;
}

section {
  padding: 50px 0px;
}

body {
    background: var(--color-bg) !important;
    font-family: 'Poppins', sans-serif;
    width: auto;
}

.btn {
  padding: 7px 15px;
  background: var( --color-primary);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  color: #fff !important;
  background: #000c6bd0;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 30px 0px;
  }

  .section__title {
    font-size: 1.6rem;
  }

  .section__subtitle {
    font-size: 1.1rem;
  }
}
